main{
    width: 100vw;
    height: 100vh;
    background-color: $Verylightgray;

    @media (max-width: 1000px) {
        height: auto;
    }
    .hero{
        @media (max-width: 1000px) {
            flex-direction: column;
            margin: 88px 0;
        }
        .card{
            width: 310px;
            height: 500px;
            padding: 48px;
            @media (max-width: 1000px) {
                width: 328px;
                height: 443px;
            }
            
            > h1{
                font-size: 36px;
                font-family: 'Big Shoulders Display', cursive;
                text-transform: uppercase;
                margin: 40px 0;
                color: $Verylightgray;
            }

            > p{
                color: $Transparentwhite;
                font-size: 15px;
            }

            > button{
                width: 150px;
                height: 50px;
                border-radius: 23px;
                border: none;
                margin-top: 87px;
                transition: .5s;
                @media (max-width: 1000px) {
                    margin-top: 30px;
                }

            }

            .btn{
                font-size: 13px;
                cursor: pointer;
                
                &:hover{
                    color: white;
                    border: 2px solid white;
                    background: transparent;
                }
            }

            .btn1{
                color: $Brightorange;
            }
            .btn2{
                color: $Darkcyan;
            }
            .btn3{
                color: $Verydarkcyan;
            }
        }
        .card1{
            background-color: $Brightorange;
            border-radius: 10px 0 0 10px;
            @media (max-width: 1000px) {
                border-radius: 10px 10px 0 0;
            }
        }

        .card2{
            background-color: $Darkcyan;
        }

        .card3{
            background-color: $Verydarkcyan;
            border-radius: 0 10px 10px 0;
            @media (max-width: 1000px) {
                border-radius: 0 0 10px 10px;
            }
        }
    }
}